body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.contenedor {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
    text-align: center;
}

input {
    width: 70%;
    padding: 8px;
    margin: 5px 0;
    text-align: center;
}

button {
    width: 70%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}
